<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../vender/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" charset="utf-8" />
    <link href="../vender/datatables/dataTables.bootstrap.css" rel="stylesheet" charset="utf-8" />
    <link href="../css/common.css" rel="stylesheet" charset="utf-8" />
    <style>
        label.control-label{
            margin-top:5px;
            padding-left:0px;
            width:65px
        }

        canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mosquito</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/role/add">add role <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/role/list">role statistic</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="width:10px;height:50px"></div>
<div class="container-fluid">
    <div style="padding-left:15px;padding-right:15px">
        <div class="row" style="margin-bottom: 10px">
            <div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" style="width:40px">  roles</label>
                    <div class="col-sm-3">
                        <select class="form-control select-role">
                            <option><a href="#"> select role ... </a></option>
                            <option th:each="item : ${role_list}" th:attr="value=${item.id}"><a href="#" th:text="|${item.ID} ${item.ROLE_NAME}|">1</a></option>
                        </select>
                    </div>
                </div><!-- .form-group -->
                <div class="form-group">
                    <label class="col-sm-1 control-label">   services</label>
                    <div class="col-sm-3">
                        <select class="form-control select-service">
                            <option><a href="#"> select service ...</a></option>
                            <option th:each="item : ${services}" th:attr="value=${item.service}" th:text="${item.service}">1</option>
                        </select>
                    </div>
                </div><!-- .form-group -->
                <div class="form-group" style="padding-top:5px" id="select-time" data-type="minute">
                    <a class="select-time label label-primary" data-type="day">15 day</a>
                    <a class="select-time label label-success" data-type="hour">24 hour</a>
                    <a class="select-time label label-info" data-type="minute">30 minute</a>
                </div><!-- .form-group -->
            </div>
        </div><!-- .row -->
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="canvas" style="max-height: 400px"></canvas>
                </div><!-- .panel-body -->
            </div><!-- .panel -->
        </div><!-- .row -->
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered" id="command-table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>roleid</th>
                            <th>type</th>
                            <th>service</th>
                            <th>metric</th>
                            <th>error_message</th>
                            <th>error_code</th>
                            <th>members</th>
                            <th>add_time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${logs}">
                            <td th:text="${item.id}">id</td>
                            <td th:text="${item.roleid}">roleid</td>
                            <td th:text="${item.type}">type</td>
                            <td th:text="${item.service}">ping_url</td>
                            <td th:text="${item.metric_value}">metric</td>
                            <td th:text="${item.error_message}">error_message</td>
                            <td th:text="${item.error_code}">error_code</td>
                            <td th:text="${item.members}">members</td>
                            <td th:text="${item.add_time}">add_time</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- .panel-body -->
            </div><!-- .panel -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .container-fluid -->

<script src="../vender/jQuery/jquery-2.2.3.min.js"></script>
<script src="../vender/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../vender/datatables/jquery.dataTables.js"></script>
<script src="../vender/datatables/dataTables.bootstrap.js"></script>
<script src="../vender/chart/Chart.bundle.js"></script>
<script src="../vender/chart/utils.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    $(function () {
        var role = /*[[${role}]]*/;
        var service = /*[[${service}]]*/;
        var timeType = /*[[${timeType}]]*/;

        var role_list = /*[[${role_list}]]*/;
        var metrics = /*[[${metrics}]]*/

        if( role == "" && service == "" ){
            role = role_list[0]['ID'];
            $("select").find("option[value='"+ role +"']").attr("selected",true);
        }else{
            $("select").find("option[value='"+ role +"']").attr("selected",true);
            $("select").find("option[value='"+ service +"']").attr("selected",true);
            $("#select-time").data("type", timeType);
        }

        var url = "/role/list?";
        $(".select-role").change(function () {
            var value = $(this).val();
            var timeType = $("#select-time").data("type");
            window.location.href = url + "role=" + value + "&timeType=" + timeType;
        });
        $(".select-service").change(function () {
            var value = $(this).val();
            var timeType = $("#select-time").data("type");
            window.location.href = url + "service=" + value + "&timeType=" + timeType;
        });
        $("a.select-time").click(function () {
            var timeType = $(this).data("type");
            var role = $(".select-role > option[selected='selected']").val();
            if( typeof(role) == "undefined" ){
                role = "";
            }
            var service = $(".select-service > option[selected='selected']").val();
            if( typeof(service) == "undefined" ){
                service = "";
            }
            window.location.href = url + "service=" + service + "&role=" + role + "&timeType=" + timeType;
        });
    });


    $("#command-table").dataTable();

    window.metrics = /*[[${metrics}]]*/;
    var labels = [];
    var counts = [];
    for( var i in metrics){
        labels.push( metrics[i]["date"] );
        counts.push( metrics[i]["c"] );
    }
    var config = {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: "count",
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: counts,
                fill: false,
            }]
        },
        options: {
            responsive: true,
            title:{
                display:false,
                text:'Chart.js Line Chart'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'metric'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx, config);
    };

/*]]>*/
</script>
</body>
</html>